<template>
    

        <v-layout row="row" wrap="wrap">
            <Loader v-if="isLoading"/>
            <v-flex xs12 sm12 md12 lg12>
                <v-toolbar dark="dark" color="primary" class="mb-5">
                    <v-flex xs3 sm3 md2 lg2 class="ma-3">
                            <v-img src="/img/logo.png" aspect-ratio="2" contain></v-img>
                    </v-flex>
                    

                    <v-spacer></v-spacer>

                    <v-btn icon="icon">
                        <v-icon @click="onLogout">exit_to_app</v-icon>
                        
                    </v-btn>
                </v-toolbar>
            </v-flex>
            <v-flex xs6 sm4 md4 lg4 justify-center class="my-3">
                <div class="" style="text-align:right; font-size:18px;">
                    <span>Année scolaire </span>
                </div>
            </v-flex>
            <v-flex xs12 sm12 md12 lg12></v-flex>
            <v-flex
                v-for="item in annees"
                :key="item.id"
                justify-center="justify-center"
                xs11
                sm11
                md5
                lg5
                offset-sm3="offset-sm3" class="annee">
                <v-card class="mb-4 py-3 px-4">
                    
                    <div class="">
                        <span style="font-weight:bold;font-size:17px;">{{item.annee}}</span>
                        <span class="btn-access" @click="anneeSelect(item)"  style="float:right;cursor:pointer;border:1px solid #60afd5;padding:2px 10px;color:#60afd5">consulter</span>
                        <span class="btn-access mx-1 green--text lighten-2" v-if="item.est_encours==true" style="float:right;cursor:pointer;padding:2px 10px;color:#60afd5">En cours</span>
                        <span class="btn-access mx-1 red--text lighten-2" v-if="item.est_encours==false" style="float:right;cursor:pointer;padding:2px 10px;color:#60afd5">Cloturée</span>
                    </div>
                </v-card>
            </v-flex>
        </v-layout>
</template>

<script>
import axios from 'axios'
import Loader from '@/components/Loader.vue'
    export default {
        components:{Loader},
        data() {
            return {
                isLoading:true,
                annees:[],
            }
        },
        created(){
        axios(
            {
                method: 'get', 
                url:'https://mshayi.pythonanywhere.com/annees', 
                crossDomain: true, 
                headers: {'x-access-token': this.$store.getters.getToken}
            })
            .then((response) => {
                this.annees = response.data.annees;
                this.isLoading = false;
            })
            .catch((error) => {
                if(error.response.status === 401){
                    if(error.response.data.message !== null && error.response.data.message !== undefined){
                        if(error.response.data.message.indexOf('token') !== -1){
                            this.isLoading = false;
                            this.$router.push('/');
                            return;
                        }
                        if(error.response.data.message.indexOf('utilisateur') !== -1){
                            this.isLoading = false;
                            this.$router.push('/');
                            return;
                        }
                    }
                }
                this.$message.error(error.message);
                console.error(error);
                this.isLoading = false;
            }
        );
    },
    methods: {
        anneeSelect(idAnnee){
            if(idAnnee !=null){
                this.$store.commit('setAnnee',{annee:idAnnee});
                this.$router.push('/ecole');
            }
            
        },
        onLogout(){
            this.$store.commit('setToken', {token: ''});
             this.$router.push('/');
        }
    },      
    }
</script>
<style scoped>
    span .btn-access:hover{
        cursor: pointer;

    }
    .annee{
        
    }
</style>
