<template>
    <v-layout row="row" justify-center="justify-center">
        <v-flex xs11 sm11 md4 lg4>
            <div class="text-xs-center">
                <v-flex xs12 sm12 md9 lg9>
                            <v-img src="/img/logo_1.png" aspect-ratio="2" contain style="width:100%"></v-img>
                    </v-flex>
                    <span class="primary--text">Logiciel de gestion des établissements scolaires</span>
                    <br>
                        <p>
                            <small class="primary--text">Veuillez vous identifier</small>
                        </p>
                    </div>
                    <v-card class="pa-5">
                        <v-form ref="formLogin" :model="login" lazy-validation="lazy-validation">

                            <v-text-field
                                v-model="login.email"
                                label="E-mail"
                                required="required"></v-text-field>

                            <v-text-field
                                v-model="login.password"
                                :append-icon="show ? 'visibility' : 'visibility_off'"
                                label="Mot de passe"
                                :type="show ? 'text' : 'password'"
                                @click:append="show = !show"
                                required="required"></v-text-field>

                            <v-btn :loading="isLoading"  color="primary" @click="submit('formLogin')">
                                Se connecter
                            </v-btn>
                        </v-form>
                    </v-card>
                    <div>
                      <Register/>
                    </div>
                </v-flex>
            </v-layout>
        </template>

        <script>
        import Register from '@/components/Register.vue'
        import axios from 'axios'
            export default {
              components:{Register},
              data() {
                return {
                  
                  show:false,
                  login:{
                      email:'',
                      password:''
                  },
                  //email:login.email,
                  //pwd:login.password,
                  isLoading:false,
                  
                }
              },

              methods: {
                  submit(formName){
                      //console.log('ok');
                      if( this.$refs[formName].validate()){
                          this.isLoading=true;
                        axios({method: 'get', url:'https://mshayi.pythonanywhere.com/login', crossDomain: true, auth: { username:this.login.email, password:this.login.password}})
                            .then((response) => {
                                //Todo add token to vuex------Done
                               this.$store.commit('setToken', {token: response.data.token});
                                // this.$message({                                    
                                //     message: response.data.token,
                                //     type: 'success'
                                // });
                                this.$router.push('/annees');
                                // this.response = result.data;
                                //console.log(response.data.token);
                                this.isLoading = false;
                            })
                            .catch((error) => {
                                this.$message.error(error.message);
                                console.error(error);
                                this.isLoading = false;
                            }
                        );
                      }
                  }
              },
            }
        </script>

        <style scoped="scoped">
            h1 {
                float: none;
                margin: auto;
            }
        </style>