<template>
        <v-layout row wrap>
            <Loader v-if="isLoading"/>
            <v-flex xs12 sm12 md12 lg12>
                <v-toolbar dark color="primary" class="mb-5">
                   <v-flex xs3 sm3 md2 lg2 class="ma-3">
                            <v-img src="/img/logo.png" aspect-ratio="2" contain></v-img>
                    </v-flex>
                    <v-toolbar-title class="white--text">
                        <v-btn flat color="white" v-if="this.$store.getters.getAnnee.annee" @click="linkAnnee">{{this.$store.getters.getAnnee.annee}}</v-btn>
                        
                    </v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon="icon">
                        <v-icon @click="onLogout">exit_to_app</v-icon>
                    </v-btn>
                </v-toolbar>
            </v-flex>
            <v-layout row wrap justify-center>
                <v-flex xs11 sm11 md11 lg11 class="pa-3 mb-4">
                    <strong style="float:left;font-size:18px" class="dark--text">
                        Liste des établissements
                    </strong>
                </v-flex>
            </v-layout>
                
                <v-flex xs11 sm11 md11 lg11>
                    <v-layout row wrap justify-center>
                        <v-flex sx11 sm11 md8 lg8 class="">
                            <v-list-tile v-for="item in ecoles" :key="item.id"  @click="acceder(item)" class="my-3 px-2 py-1 lighten-4" style="border:1px solid silver; box-shadow: 0px 1px 1px silver">
                                
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ item.nom }}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{ item.adresse }}</v-list-tile-sub-title>
                                </v-list-tile-content>
                                    <v-btn flat class="primary py-0 btn" @click="acceder(item)"><v-icon color="primary lighten-1"></v-icon> <span>Accéder</span></v-btn>
                                    <v-btn depressed class="primary--text"><v-icon color="grey lighten-1"></v-icon><span>Message</span></v-btn>
                                    <v-btn depressed class="primary--text"><v-icon color="grey lighten-1"></v-icon><span>Modifier</span></v-btn>
                                    <v-btn depressed class="red--text"><v-icon color="grey lighten-1"></v-icon><span>Supprimer</span></v-btn>
                                    
                            </v-list-tile>
                        </v-flex>
                    </v-layout>
                
                </v-flex>
            <v-layout row wrap justify-center>
                <v-flex xs11 sm11 md11 lg11 class="pa-3 my-3">
                    <AjoutEcole/>
                </v-flex>    

            </v-layout>
          
        </v-layout>
    
</template>
<script>
import axios from 'axios'
import Loader from '@/components/Loader.vue'
import AjoutEcole from '@/components/AjoutEcole.vue'
export default {
    components:{Loader,AjoutEcole},
    data() {
        return {
            isLoading:false,
            ecoles:[],
            pub_id:'',
            user:[],
            idEcole:'',
        }
    },
    computed: {
    
    },
    mounted() {
        /*var id=this.$store.getters.getToken;
        var id_pub=id.split('.');
        this.pub_id=id_pub[2];*/
    },
    created(){
            this.isLoading=true;
            axios(
            {
                
                method: 'get', 
                url:'https://mshayi.pythonanywhere.com/ecole', 
                crossDomain: true, 
                headers: {'x-access-token': this.$store.getters.getToken}
            })
            .then((response) => {
                this.ecoles = response.data.ecoles;
                this.isLoading = false;
            })
            .catch((error) => {
                if(error.response.status === 401){
                    if(error.response.data.message !== null && error.response.data.message !== undefined){
                        if(error.response.data.message.indexOf('token') !== -1){
                            this.isLoading = false;
                            this.$router.push('/');
                            return;
                        }
                        if(error.response.data.message.indexOf('utilisateur') !== -1){
                            this.isLoading = false;
                            this.$router.push('/');
                            return;
                        }
                    }
                }
                this.$message.error(error.message);
                console.error(error);
                this.isLoading = false;
            }
        );
    },
    methods: {
        linkAnnee(){
            this.$router.push('/annees');
        },
        acceder(ecole){
            
            if(ecole){
                this.$store.commit('setEcole', {ecole: ecole});
                this.$router.push('/etablissement');
            }
            
            //this.idEcole=ecole;
           // this.$router.push('/etablissement');
           //this.$store.commit('setToken', {token: ''});

        },
        onLogout(){
            this.$store.commit('setToken', {token: ''});
             this.$router.push('/');
        }
    },

    
}
</script>

<style scoped>
span{
    text-transform:lowercase;
}
@media (max-width: 786px) {
    .v-flex{
        padding: 0 !important;
        margin: 0 !important
    }
    .btn{
        width:50px !important
    }
}
</style>
