<template>
    <v-layout row right>
            <v-snackbar v-model="snackbar" color="primary" top :timeout="6000">
                <span>{{snackContent}}</span>
                <v-btn flat color="white" @click="snackbar=false">Fermer</v-btn>
            </v-snackbar>
    <v-btn  color="bar white--text" depressed @click.stop="dialog = true">
        <span class="primary white--text py-1 px-3"> Ajouter un établissement</span>
    </v-btn>

    <v-dialog
      v-model="dialog" md12
    >
      <v-card>
        <v-card-title class="headline primary--text" style="text-align:center">Nouvel Etablissement</v-card-title>

        <v-card-text>
            <v-layout row wrap justify-center>
            <v-flex xs11 sm11 md5 lg5 class="px-4">
                    
                <v-text-field
                    v-model="nomEcole"
                    label="Nom de l'école"
                    :rules="required"
                    required="required">
                </v-text-field>
                <v-text-field
                    v-model="sigleEcole"
                    label="Sigle"
                    :rules="required"
                    required="required">
                </v-text-field>
                <v-text-field
                    v-model="deviseEcole"
                    label="Devise"
                    :rules="required"
                    required="required">
                </v-text-field>
                <v-menu>
                    <v-text-field slot="activator" :value="dateCreation" label="Date de création" prepend-icon="date_range"></v-text-field>
                    <v-date-picker @change="dateSplit" type="date" v-model="dateCreation"></v-date-picker>
                </v-menu>
                <v-text-field
                    v-model="telephoneEcole"
                    label="Téléphone"
                    :counter="10"
                    :rules="nameRules"
                    required="required">
                </v-text-field>
                
               </v-flex>
               <v-flex xs11 sm11 md5 lg5 class="px-4">
                     <v-flex xs12 sm12 d-flex>
                    <v-select
                    v-if="provinces"
                    :key="provinces.id"
                    :items="provinces"
                    item-text="nom"
                    item-value="id"
                    v-model="selectedProvince"
                    @change="provinceChange"
                    label="Province"
                    ></v-select>
                </v-flex>
                 <v-flex xs12 sm12 d-flex>
                    <v-select
                    v-if="tv"
                    :key="tv.id"
                    :items="tv"
                    item-text="nom"
                    item-value="id"
                    v-model="selectedTV"
                    @change="tvChange"
                    label="Territoires/Villes"
                    ></v-select>
                </v-flex>
                 <v-flex xs12 sm12 d-flex>
                    <v-select
                     v-if="scc"
                    :items="scc"
                    item-text="nom"
                    item-value="id"
                    v-model="selectedSCC"
                    @change="sccChange"
                    label="Sceteurs/Chefferies/Communes:"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12 d-flex>
                    <v-select
                     v-if="gq"
                    :items="gq"
                    item-text="nom"
                    item-value="id"
                    v-model="selectedGQ"
                    label="Groupement/Quartier:"
                    ></v-select>
                </v-flex>
                <v-text-field
                    v-model="adresseEcole"
                    label="Adresse"
                    :rules="required"
                    required="required">
                </v-text-field>

                
               </v-flex>
            </v-layout>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn  color="primary" @click="submit('formEcole')">Enregistrer</v-btn>


        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            valid:false,
            dialog:false,
            picker: new Date().toISOString().substr(0, 10),
            snackbar:false,
            auth:true,
            snackContent:'',
            provinces:[],
            tv:[],
            scc:[],
            gq:[],
            nomEcole:'',
            sigleEcole:'',
            deviseEcole:'',
            dateCreation:null,
            day:null,
            month:null,
            year:null,
            telephoneEcole:'',
            adresseEcole:'',
            selectedProvince:'',
            selectedTV:'',
            selectedSCC:'',
            selectedGQ:'',
            pub_id:'',
            user:[],
            idEcole:'',
            nameRules: [
                v => !!v || 'Champ obligatoire',
                v => v.length <= 10 || 'Le champ ne doit pas avoir plus de 10 caractères'
            ],
            required: [
                v => !!v || 'Champ obligatoire'
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ]
        }
    },
    created(){
            axios(
                {
                    method: 'get', 
                    url:'https://mshayi.pythonanywhere.com/provinces', 
                    crossDomain: true, 
                    headers: {'x-access-token': this.$store.getters.getToken}
                })
                .then((response) => {
                    this.provinces = response.data.provinces;
                })
                .catch((error) => {
                    if(error.response.status === 401){
                        if(error.response.data.message !== null && error.response.data.message !== undefined){
                            if(error.response.data.message.indexOf('token') !== -1){
                                //this.isLoading = false;
                                this.$router.push('/');
                                return;
                            }
                            if(error.response.data.message.indexOf('utilisateur') !== -1){
                                this.$router.push('/');
                                return;
                            }
                        }
                    }
                    this.$message.error(error.message);
                    console.error(error);
                   // this.isLoading = false;
                }
            );
    },
    methods: {
        dateSplit(){
            if(this.dateCreation!=null){
                /*var date=this.dateCreation.split('-');
                this.day=date[2];
                this.month=date[1];
                this.year=date[0];*/
                var newdate=new Date(this.dateCreation);
                this.day=newdate.getDay();
                this.month=newdate.getMonth();
                this.year=newdate.getFullYear();

                //console.log(newdate.getDay())
            }
        },
        submit(frm){
            console.log(this.nomEcole + this.sigleEcole +this.deviseEcole+ this.day+this.selectedGQ);

                       // this.isLoading = true;
                        // this.cDisable = true;
                        axios({
                                method: 'post', 
                                url:'https://mshayi.pythonanywhere.com/ecole', 
                                crossDomain: true,
                                headers: {'x-access-token': this.$store.getters.getToken},
                                data: {
                                    nom: this.nomEcole,
                                    sigle: this.sigleEcole,
                                    devise: this.deviseEcole,
                                    adresse: this.adresseEcole,
                                    groupement_quartier_id: this.selectedGQ,
                                    telephone: this.telephoneEcole,
                                    year: this.year,
                                    mm: this.month,
                                    dd: this.day
                                }
                            })
                            .then((response) => {
                                /*
                                this.$message({
                                    message: response.data.message,
                                    type: 'success'
                                });*/
                                //console.log(response.data.message);
                                this.snackContent='Ecole créée avec succès';
                                this.snackbar=true;
                                //this.$router.push('/');
                                // this.response = result.data;
                                //loadEcole();
                                //this.isLoading = false;
                            })
                            .catch((error) => {
                                //this.$message.error(error);
                                //console.error(error.message);
                                //console.log(response.data.message);
                                //this.isLoading = false;
                                //this.cDisable = false;
                            }
                        );

            },
        provinceChange(){
            
                this.selectedTV = '';
                this.selectedSCC='';
                this.tv=[];
                this.scc=[];
                this.gq=[];
                    axios(
                        {
                            method: 'get', 
                            url:'https://mshayi.pythonanywhere.com/tv/' + this.selectedProvince, 
                            crossDomain: true, 
                            headers: {'x-access-token': this.$store.getters.getToken}
                        })
                        .then((response) => {
                            // if(response.status === 401){
                            //     this.$message.error(response.data.message);
                            //     this.isLoading = false;
                            // }
                            // else{
                                this.tv = response.data.tv;
                                //this.isLoading = false;
                            // }
                        })
                        .catch((error) => {
                            if(error.response.status === 401){
                                if(error.response.data.message !== null && error.response.data.message !== undefined){
                                    if(error.response.data.message.indexOf('token') !== -1){
                                        this.$router.push('/');
                                        return;
                                    }
                                    if(error.response.data.message.indexOf('utilisateur') !== -1){
                                        this.$router.push('/');
                                        return;
                                    }
                                }
                            }
                            this.$message.error(error.message);
                            console.error(error);
                            //this.isLoading = false;
                        }
                    );
                
        },
        tvChange(){
                this.selectedSCC='';
                this.scc=[];
                this.gq=[];

                    axios(
                        {
                            method: 'get', 
                            url:'https://mshayi.pythonanywhere.com/scc/' + this.selectedTV, 
                            crossDomain: true, 
                            headers: {'x-access-token': this.$store.getters.getToken}
                        })
                        .then((response) => {
                            this.scc = response.data.scc;
                            //this.isLoading = false;
                        })
                        .catch((error) => {
                            if(error.response.status === 401){
                                if(error.response.data.message !== null && error.response.data.message !== undefined){
                                    if(error.response.data.message.indexOf('token') !== -1){
                                        this.$router.push('/');
                                        return;
                                    }
                                    if(error.response.data.message.indexOf('utilisateur') !== -1){
                                        this.$router.push('/');
                                        return;
                                    }
                                }
                            }
                            this.$message.error(error.message);
                            console.error(error);
                            console.log(error);
                            //this.isLoading = false;
                        }
                    );
        },
        sccChange(){
                this.gq=[];
                    axios(
                        {
                            method: 'get', 
                            url:'https://mshayi.pythonanywhere.com/gq/' + this.selectedSCC, 
                            crossDomain: true, 
                            headers: {'x-access-token': this.$store.getters.getToken}
                        })
                        .then((response) => {
                            this.gq = response.data.gq;
                            //this.isLoading = false;
                        })
                        .catch((error) => {
                            if(error.response.status === 401){
                                if(error.response.data.message !== null && error.response.data.message !== undefined){
                                    if(error.response.data.message.indexOf('token') !== -1){
                                        this.$router.push('/');
                                        return;
                                    }
                                    if(error.response.data.message.indexOf('utilisateur') !== -1){
                                        this.$router.push('/');
                                        return;
                                    }
                                }
                            }
                            this.$message.error(error.message);
                            console.error(error);
                            //this.isLoading = false;
                        }
                    );
        }
    },
}
</script>