<template>
    <v-layout row right>
         <v-snackbar v-model="snackbar" color="primary" top :timeout="6000">
                <span>{{snackContent}}</span>
                <v-btn flat color="white" @click="snackbar=false">Fermer</v-btn>
            </v-snackbar>
    <v-btn  color="bar white--text" depressed @click.stop="dialog = true">
        <v-icon left small>add_circle</v-icon>
        <span> Ajouter un élève</span>
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="800"
    >
      <v-card>
        <v-card-title class="headline primary--text" style="text-align:center">Nouvel élève</v-card-title>

        <v-card-text>
            <v-layout row wrap justify-center>
                <v-flex xs12 sm12 md6 lg6 class="px-3">
                    <v-text-field
                    v-model="nomEleve"
                    label="Nom de l'élève"
                    required="required"></v-text-field>
                     <v-text-field
                    v-model="postnomEleve"
                    label="Postnom de l'élève"
                    required="required"></v-text-field>
                     <v-text-field
                    v-model="prenomEleve"
                    label="Prénom de l'élève"
                    required="required"></v-text-field>
                    <v-radio-group v-model="sexe" row>
                        <v-radio label="Garçon" value="garcon"></v-radio>
                        <v-radio label="Fille" value="fille"></v-radio>
                    </v-radio-group>

                    <v-menu>
                    <v-text-field slot="activator" :value="dateNaissance" label="Date de naissance" prepend-icon="date_range"></v-text-field>
                    <v-date-picker @change="dateSplit" type="date" v-model="dateNaissance"></v-date-picker>
                    </v-menu>

                     <v-text-field
                    v-model="lieuNaissance"
                    label="Lieu de naissance"
                    required="required"></v-text-field>
                    
                </v-flex>
                <v-flex xs12 sm12 md6 lg6 class="px-3">
                    <v-text-field
                    v-model="nomPere"
                    label="Nom du père"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="nomMere"
                    label="Nom de la mère"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="nomTuteur"
                    label="Nom du tuteur"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="email"
                    label="Adresse email"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="adresse"
                    label="Adresse physique"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="tel1"
                    label="Téléphone 1"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="tel2"
                    label="Téléphone 2"
                    required="required"></v-text-field>
                    <v-text-field
                    v-model="file"
                    label="photo"
                    type="file"
                    required="required"></v-text-field>
                </v-flex>
            </v-layout>
            
            
            
        </v-card-text>
            <v-flex xs12 sm12 md12 lg12></v-flex>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="ajouter()"
          >
            Enregistrer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import axios from 'axios'
export default {
    data () {
      return {
        snackbar:false,
        snackContent:'',
        idAnnee:this.$store.getters.getAnnee.id,
        idClasse:this.$store.getters.getClasse,
        dialog: false,
        picker: new Date().toISOString().substr(0, 10),
        nomEleve:'',
        postnomEleve:'',
        prenomEleve:'',
        sexe:null,
        dateNaissance:null,
        day:null,
        month:null,
        year:null,
        lieuNaissance:'',
        nomPere:'',
        nomMere:'',
        nomTuteur:'',
        email:'',
        adresse:'',
        tel1:'',
        tel2:'',
        file:null,
        register:true,
        //idEcole:this.$store.getters.getEcole,
        //idSection:this.$store.getters.getSection,
        
      }
    },
    methods: {
        dateSplit(){
            if(this.dateNaissance!=null){
                var newdate=new Date(this.dateNaissance);
                this.day=newdate.getDay();
                this.month=newdate.getMonth();
                this.year=newdate.getFullYear();
            }
        },
        ajouter(){

            axios(
                        {
                              method: 'post', 
                                url:'https://mshayi.pythonanywhere.com/eleve', 
                                crossDomain: true,
                                headers: {'x-access-token': this.$store.getters.getToken},
                                data: {
                                    nom:this.nomEleve,
                                    postnom:this.postnomEleve,
                                    prenom:this.prenomEleve,
                                    sexe:this.sexe,
                                    year: this.year,
                                    mm: this.month,
                                    dd: this.day,
                                    lieu_naissance:this.lieuNaissance,
                                    nom_pere:this.nomPere,
                                    nom_mere:this.nomMere,
                                    nom_tuteur:this.nomTuteur,
                                    adresse:this.adresse,
                                    telephone_1:this.tel1,
                                    telephone_2:this.tel2,
                                    email_tuteur:this.email,
                                    annee:this.idAnnee,
                                    classe:this.idClasse
                                }
                        })
                        .then((response) => {
                          console.log(response.data.message);
                          this.snackContent='Elève enregistré avec succès';
                            this.snackbar=true;

                            this.nomEleve='';
                            this.postnomEleve='';
                            this.prenomEleve='';
                            this.sexe=null;
                            this.dateNaissance=null;
                            this.day=null;
                            this.month=null;
                            this.year=null;
                            this.lieuNaissance='';
                            this.nomPere='';
                            this.nomMere='';
                            this.nomTuteur='';
                            this.email='';
                            this.adresse='';
                            this.tel1='';
                            this.tel2='';
                            this.dialog=false;
                        })
                        .catch((error) => {
                        }
                    );
                   

        }
    }
}
</script>