<template>
    <v-layout row right>
            <v-snackbar v-model="snackbar" color="primary" top :timeout="6000">
                <span>{{snackContent}}</span>
                <v-btn flat color="white" @click="snackbar=false">Fermer</v-btn>
            </v-snackbar>
    <v-btn  color="bar white--text" depressed @click.stop="dialog = true">
        <v-icon left small>add_circle</v-icon>
        <span> Ajouter une classe</span>
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline primary--text" style="text-align:center">Nouvelle classe</v-card-title>

        <v-card-text>
            <v-text-field
                v-model="libelle"
                label="Salle"
                required="required"></v-text-field>
            <v-text-field
                v-model="numero"
                type="number"
                label="Niveau"
                required="required"></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="ajouter()"
          >
            Enregistrer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import axios from 'axios'
export default {
    data () {
      return {
        snackbar:false,
        snackContent:'',
        dialog: false,
        libelle:'',
        numero:'',
        //idEcole:this.$store.getters.getEcole,
        idSection:this.$store.getters.getSection,
        
      }
    },
    methods: {
        ajouter(){
            if(this.idSection!=null){

            axios(
                        {
                              method: 'post', 
                                url:'https://mshayi.pythonanywhere.com/classe', 
                                crossDomain: true,
                                headers: {'x-access-token': this.$store.getters.getToken},
                                data: {
                                    salle: this.libelle,
                                    section_id:this.$store.getters.getSection,
                                    numero:this.numero
                                }
                        })
                        .then((response) => {
                          //console.log(response.data.message)
                            this.snackContent='Classe enregistrée avec succès';
                            this.snackbar=true;
                            this.libelle="";
                            this.numero="";
                            this.dialog=false;
                        })
                        .catch((error) => {
                        }
                    );
                    
            }

        }
    }
}
</script>