<template>
        <v-layout row wrap>
             <v-snackbar v-model="snackbar" color="primary" top :timeout="6000">
            <span>{{snackContent}}</span>
            <v-btn flat color="white" @click="snackbar=false">Fermer</v-btn>
        </v-snackbar>
        <v-flex xs12 sm12 md12 lg12>
                <v-toolbar dark="dark" color="primary" class="mb-4">
                     <v-flex xs3 sm3 md2 lg2 class="ma-3">
                            <v-img src="/img/logo.png" aspect-ratio="2" contain></v-img>
                    </v-flex>
                    <v-toolbar-title class="white--text">
                        <v-btn flat color="white" v-if="this.$store.getters.getAnnee.annee" @click="linkAnnee">{{this.$store.getters.getAnnee.annee}}</v-btn>
                        <v-btn flat color="white" v-if="this.$store.getters.getEcole.nom" @click="linkEcole">Etablissements</v-btn>
                        <v-btn flat color="white" v-if="this.$store.getters.getSection" @click="linkSection">Section</v-btn>
                        <v-btn flat color="white" v-if="this.$store.getters.getClasse" @click="linkClasse">Classe</v-btn>
                        
                    </v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon="icon">
                        <v-icon @click="onLogout">exit_to_app</v-icon>
                    </v-btn>
                </v-toolbar>
            </v-flex>
            <v-layout row wrap justify-center>
                <v-flex xs11 sm11 md2 lg2>
                    <div class="caption grey--text">Etablissement scolaire</div>
                    <div><strong>{{this.$store.getters.getEcole.nom}}</strong></div>
                </v-flex>
                <v-flex xs12 sm12 md5 lg5></v-flex>
                <v-flex xs11 sm11 md3 lg3>
                    <v-text-field
                        v-model="newEcole.nom"
                        label="Recherche"
                        append-icon="search"
                        required="required">
                    </v-text-field>
                </v-flex>
                 <v-flex xs12 sm12 md12 lg12></v-flex>
                <v-flex xs11 sm11 md1 lg1>
                    <div class="caption grey--text">Sigle</div>
                    <div>{{this.$store.getters.getEcole.sigle}}</div>
                </v-flex>
                <v-flex xs11 sm11 md1 lg1>
                    <div class="caption grey--text">Devise</div>
                    <div>{{this.$store.getters.getEcole.devise}}</div>
                </v-flex>
                <v-flex xs11 sm11 md1 lg1>
                    <div class="caption grey--text">Adresse</div>
                    <div>{{this.$store.getters.getEcole.adresse}}</div>
                </v-flex>
                <v-flex xs11 sm11 md1 lg1>
                    <div class="caption grey--text">Contact</div>
                    <div>{{this.$store.getters.getEcole.telephone}}</div>
                </v-flex>
                <v-flex xs11 sm11 md1 lg1>
                    <div class="caption grey--text">Date de création</div>
                    <div>{{this.$store.getters.getEcole.date_creation}}</div>
                </v-flex>
                <v-flex md5 lg5></v-flex>
                <v-flex xs11 sm11 md10 lg10 class="primary--text mt-5 mb-3 menu">
                        <span>Section</span>
                        <span>Frais</span>
                        <span>Personnel</span>
                </v-flex>
                <v-flex xs11 sm11 md10 lg10 class="">
                    <v-flex xs12 sm12 md12 lg12>
                        <v-flex xs12 sm12 md12 lg12 class="bar white--text py-0 px-5" style="border-radius:4px 4px 0 0">
                
                            <v-list-tile-content>
                                <AjoutEleve/>
                            </v-list-tile-content>
                            
                        </v-flex>
                            <v-layout row wrap justify-center>
                                <v-flex sx12 sm12 md12 lg12 class="">
                                    <v-list-tile v-for="item in eleves" :key="item.id"  @click="acceder(item.id)" class="my-3 px-2 py-1 lighten-4" style="border:1px solid silver; box-shadow: 0px 1px 1px silver">
                                        
                                        <v-list-tile-content>
                                            <v-list-tile-title>{{ item.nom }}</v-list-tile-title>
                                        </v-list-tile-content>
                                            <v-btn flat class="primary py-0 btn"  @click="acceder(item.id)"><v-icon color="primary lighten-1"></v-icon> <span>Accéder</span></v-btn>
                                            <v-btn depressed class="primary--text"><v-icon color="grey lighten-1"></v-icon><span>Message</span></v-btn>
                                            <v-btn depressed class="primary--text"><v-icon color="grey lighten-1"></v-icon><span>Modifier</span></v-btn>
                                            <v-btn depressed class="red--text"><v-icon color="grey lighten-1"></v-icon><span>Supprimer</span></v-btn>
                                            
                                    </v-list-tile>
                                </v-flex>
                            </v-layout> 
                    </v-flex>
                </v-flex>
            </v-layout>
        
        </v-layout>
    
</template>
<script>
import axios from 'axios'
import AjoutEleve from '@/components/AjoutEleve.vue'
export default {
    components:{AjoutEleve},
    data() {
        return {
            idEcole:this.$store.getters.getEcole.id,
            idSection:this.$store.getters.getSection,
            idClasse:this.$store.getters.getClasse,
            idAnnee:this.$store.getters.getAnnee.id,
             picker: new Date().toISOString().substr(0, 10),
            snackbar:false,
            auth:true,
            snackContent:'',
            newEcole:{
                email:'',
            },
            eleves:[],
        }
    },
    created(){
        axios(
            {
                method: 'get', 
                url:'https://mshayi.pythonanywhere.com/eleve/'+this.idAnnee+'/'+this.idClasse, 
                crossDomain: true, 
                headers: {'x-access-token': this.$store.getters.getToken}
            })
            .then((response) => {
                this.eleves = response.data.eleves;
                //this.isLoading = false;
            })
            .catch((error) => {
            }
        );
    },
    methods: {
        linkAnnee(){
            this.$router.push('/annees');
        },
        linkEcole(){
            this.$router.push('/ecole');
        },
        linkSection(){
            this.$router.push('/etablissement');
        },
        linkClasse(){
            this.$router.push('/classe');
        },
        onLogout(){
            this.$store.commit('setToken', {token: ''});
             this.$router.push('/');
        },
    },

    
}
</script>

<style scoped>
.menu span{
    padding:10px 25px;
}

@media (max-width: 786px) {

}
</style>
