<template>
    <div class="text-xs-center" >
            <v-snackbar v-model="snackbar" color="primary" top :timeout="6000">
                <span>{{snackContent}}</span>
                <v-btn flat color="white" @click="snackbar=false">Fermer</v-btn>
            </v-snackbar>
        <v-dialog v-model="dialog"  width="600">
            
            <template v-slot:activator="{ on }">
                <v-btn flat class="primary--text mt-5" color="primary" dark="dark" v-on="on" style="float:right">
                    Créer un compte
                </v-btn>
            </template>

            <v-card>
                <Loader v-if="isLoading"/>
                
                <v-card-title class=" primary--text headline grey lighten-2" primary-title="primary-title">
                    Créer un compte
                </v-card-title>

                <div class="py-2 px-5">
                    <v-form ref="registerForm" :model="register" >

                            <v-text-field
                                v-model="register.noms"
                                label="Noms"
                                required="required"></v-text-field>
                            <v-text-field
                                v-model="register.email"
                                label="E-mail"
                                required="required"></v-text-field>
                            <v-text-field
                                v-model="register.telephone"
                                label="Téléphone"
                                required="required"></v-text-field>

                            <v-text-field
                                v-model="register.password"
                                :append-icon="show ? 'visibility' : 'visibility_off'"
                                label="Mot de passe"
                                :type="show ? 'text' : 'password'"
                                @click:append="show = !show"
                                required="required"></v-text-field>

                        </v-form>
                </div><br>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"  flat="flat" @click="submit('registerForm')">
                        Créer
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from 'axios'
import Loader from '@/components/Loader.vue'
    export default {
        components:{Loader},
        data() {
            return{
                snackbar:false,
                snackContent:'',
                dialog: false,
                isLoading: false,
                show:false,
                register:{
                    noms:'',
                    email:'',
                    telephone:'',
                    password:''
                }
            }
        },
        methods:{
            submit(formName){
                        
                      if( this.$refs[formName].validate()){
                             this.isLoading = true;
                        axios({method: 'post', url:'https://mshayi.pythonanywhere.com/user', crossDomain: true, data: {
                                password: this.register.password,
                                nom: this.register.noms,
                                email: this.register.email,
                                telephone: this.register.telephone
                            }})
                            .then((response) => {
                                /*this.$message({
                                    message: response.data.message,
                                    type: 'success'
                                    
                                });*/
                                this.snackContent='Compte créé avec succès';
                                this.snackbar=true;
                                //console.log(response.data.message)
                                //this.$router.push('/');
                                // this.response = result.data;
                                this.isLoading = false;
                            })
                            .catch((error) => {
                                /*this.$message.error(error.message);
                                console.error(error);
                                this.isLoading = false;*/
                            }
                        );
                      }
                      this.dialog=false;
                  }
        }
    }
</script>