<template>
    <div>
        <Loader v-if="isLoading"/>
        <v-snackbar v-model="snackbar" color="primary" top :timeout="6000">
                <span>{{snackContent}}</span>
                <v-btn flat color="white" @click="snackbar=false">Fermer</v-btn>
            </v-snackbar>
        <v-flex xs12 sm12 md12 lg12>
            <v-flex xs12 sm12 md12 lg12 class="bar white--text py-0 px-5" style="border-radius:4px 4px 0 0">
                
                    <v-list-tile-content>
                        <AjoutSection/>
                    </v-list-tile-content>
                    
                    
            </v-flex>
            <v-layout row wrap justify-center>
                        <v-flex sx12 sm12 md12 lg12 class="">
                            <v-list-tile v-for="item in sections" :key="item.id"  @click="acceder(item.id)" class="my-3 px-2 py-1 lighten-4" style="border:1px solid silver; box-shadow: 0px 1px 1px silver">
                                
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ item.nom }}</v-list-tile-title>
                                </v-list-tile-content>
                                    <v-btn flat class="primary py-0 btn"  @click="acceder(item.id)"><v-icon color="primary lighten-1"></v-icon> <span>Accéder</span></v-btn>
                                    <v-btn depressed class="primary--text"><v-icon color="grey lighten-1"></v-icon><span>Message</span></v-btn>
                                    <v-btn depressed class="primary--text"><v-icon color="grey lighten-1"></v-icon><span>Modifier</span></v-btn>
                                    <v-btn depressed class="red--text"><v-icon color="grey lighten-1"></v-icon><span>Supprimer</span></v-btn>
                                    
                            </v-list-tile>
                        </v-flex>
                    </v-layout>
        </v-flex>
    </div>
</template>
<script>
import axios from 'axios'
import AjoutSection from '@/components/AjoutSection.vue'
import Loader from '@/components/Loader.vue'
export default {
    components:{AjoutSection,Loader},
    data() {
        return {
            snackbar:false,
            snackContent:'',
            isLoading:false,
            idEcole:this.$store.getters.getEcole.id,
            sections:[],
        }
    },
    created() {
        this.isLoading=true;
         axios(
            {
                method: 'get', 
                url:'https://mshayi.pythonanywhere.com/section/'+this.idEcole, 
                crossDomain: true, 
                headers: {'x-access-token': this.$store.getters.getToken}
            })
            .then((response) => {
                this.sections = response.data.sections;
                this.isLoading = false;
            })
            .catch((error) => {
                this.isLoading=false;
            }
        );
    },
    methods: {
        acceder(val){
            if(val !=null){
                this.$store.commit('setSection',{section:val});
                this.$router.push('/classe');
            }
        }
    },
}
</script>
<style scoped>
.mini-menu span{
    float: left!important;
    margin-right:20px;
}
.mini-menu span:hover{
    cursor: pointer;
}
</style>
